.app-name{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    width: 100dvw;
}

.app-logo-and-title {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.app-name-header {
    letter-spacing: 6px;
    text-transform: uppercase;
}