.button {
    background-color: var(--bg);
    transition: background-color 0.3s ease;
    text-align: center;
    cursor: pointer;
    border-radius: 25rem;
    flex: none;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    line-height: 1.2;
    display: inline-flex;
    border: none;
    margin: 10px;
    padding: 0.5rem 1.5rem;
    font-size: small;
}

.button:hover {
    background-color: var(--bg-hover);
    color: black;
}