.navbar {
    justify-content: space-around;
    display: flex;
    align-items: center;
    background: #111111;
    position: relative;
    gap: 100px;
    margin: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    position: relative;
    /* necessário para o dropdown absoluto */
    color: white;
    cursor: pointer;
}

.nav-item:hover {
    color: #b3b3b3;
}

.nav-span {
    padding: 30px;
    border-bottom: 3px solid transparent;
}

.nav-span-active {
    color: #b3b3b3;
    padding: 30px;
    border-bottom: 3px solid #b3b3b3;
}

.dropdown {
    position: fixed;
    top: 120px;
    /* fica logo abaixo do item pai */
    left: 0;
    background: #181818;
    margin: 0;
    min-width: 180px;
    min-height: 414px;
    width: 100dvw;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.dropdown li {
    padding: 0.5rem 1rem;
    color: white;
    white-space: nowrap;
}

.dropdown li:hover {
    background: #222;
}