/*
* index.css arquivo de CSS Global
 ^ Fonte personalizada, muito bonita! (*-*)/
 */

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_opsz,wght.ttf') format('opentype'); /* Ajuste o caminho e o formato */
  font-weight: normal;
  font-style: normal;
}

*{
  color: white;
  font-family: 'Inter';
}

body{
  background: #111111;
}

ul{
  list-style: none;
}

.space-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-group {
  position: relative;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.form-group input {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px;
  background: transparent;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: #111111; /* mesma cor do fundo */
  padding: 0 5px;
  color: #999;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease all;
  font-weight: bold;
}

/* Quando o input estiver em foco ou preenchido */
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: 6px;
  left: 15px;
  font-size: 14px;
  color: white;
}